In [10]:
import pandas as pd
import numpy as np
import sqlite3

In [8]:
# Read CSV or Excel sheet
df_csv = pd.read_csv('phone_marketplace_dataset_cleaning_set.csv')

df_sxcel = pd.read_excel('student grades.xlsx',sheet_name= 'student_grades')

# df_csv.head()
df_sxcel.head()

,student_ID,first_name,last_name,grade_avg,faculty,tuition,OH_participated,classes_skipped
0,20123456,John,Park,B,Arts,44191,0,5
1,20123457,Alex,Great,B,Science,32245,4,10
2,20123458,Sebastian,Taylor,B,Business,42679,6,7
3,20123459,Michael,Bay,A,Math,46478,15,2
4,20123460,Scott,Foster,A,Engineering,36784,5,8

In [9]:
# Preparing a sample SQL db
import sqlite3
import pandas as pd

# create a database file
conn = sqlite3.connect("test.db")

# sample dataframe
df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Ali", "Sara", "John"],
    "score": [90, 85, 78]
})

# write dataframe to SQL table
df.to_sql("students", conn, if_exists="replace", index=False)
conn.close()

In [11]:
# make a connection string (DB + password) and use a driver or ORM to get data through a database

conn = sqlite3.connect("test.db")

query = "SELECT * FROM students"
df = pd.read_sql(query, conn)
print(df)

   id  name  score
0   1   Ali     90
1   2  Sara     85
2   3  John     78